@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap");
.container {
  background-color: black;
  color: white;
}
.container .tv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.container .tv .tv__information {
  text-align: center;
  margin-top: 50px;
}
.container .tv .tv__information .tv__title {
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.container .tv .tv__information .tv__parrafo {
  font-size: 20px;
  max-width: 450px;
  font-weight: 500;
}
.container .tv .tv__image {
  width: 350px;
  margin: 20px 0 30px 100px;
}
@media (max-width: 917px) {
  .container .tv .tv__information {
    margin: 20px 5px 0 5px;
  }
  .container .tv .tv__information .tv__title {
    font-size: 30px;
  }
  .container .tv .tv__information .tv__parrafo {
    font-size: 16px;
  }
  .container .tv .tv__image {
    width: 300px;
    margin: 0;
    margin-top: 2px;
  }
}
.container .dowloand {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap-reverse;
}
.container .dowloand .dowloand__img {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 260px;
}
.container .dowloand .dowloand__information {
  max-width: 600px;
}
.container .dowloand .dowloand__information .dowloand__title {
  font-size: 40px;
  margin-bottom: 20px;
}
.container .dowloand .dowloand__information .dowloand__parrafo {
  font-size: 20px;
}
@media (max-width: 917px) {
  .container .dowloand .dowloand__information {
    margin: 20px 5px 0 5px;
    text-align: center;
  }
  .container .dowloand .dowloand__information .dowloand__title {
    font-size: 30px;
    max-width: 500px;
  }
  .container .dowloand .dowloand__information .dowloand__parrafo {
    font-size: 16px;
  }
  .container .dowloand .dowloand__img {
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 0;
    margin-top: 40px;
  }
}
.container .ilimit {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap;
}
.container .ilimit .ilimit__information .ilimit__title {
  font-size: 45px;
  margin-bottom: 20px;
}
.container .ilimit .ilimit__information .ilimit__parrafo {
  font-size: 19px;
  max-width: 500px;
}
.container .ilimit .ilimit__img {
  width: 400px;
  margin: 80px 0 80px 0;
}
@media (max-width: 917px) {
  .container .ilimit .ilimit__information {
    margin: 20px 5px 0 5px;
    text-align: center;
  }
  .container .ilimit .ilimit__information .ilimit__title {
    font-size: 30px;
    max-width: 500px;
  }
  .container .ilimit .ilimit__information .ilimit__parrafo {
    font-size: 16px;
  }
  .container .ilimit .ilimit__img {
    width: 300px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.container .kirds {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  flex-wrap: wrap-reverse;
}
.container .kirds .kirds__img {
  width: 400px;
  margin: 50px 0 50px 0;
}
.container .kirds .kirds__title {
  font-size: 45px;
  margin-bottom: 20px;
}
.container .kirds .kirds__parrafo {
  font-size: 19px;
  max-width: 500px;
}
@media (max-width: 917px) {
  .container .kirds .kirds__img {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
  }
  .container .kirds .kirds__information {
    margin: 20px 5px 0 5px;
    text-align: center;
  }
  .container .kirds .kirds__information .kirds__title {
    font-size: 30px;
    max-width: 500px;
  }
  .container .kirds .kirds__information .kirds__parrafo {
    font-size: 16px;
  }
}

.preguntas {
  background-color: black;
  color: white;
  padding: 30px;
}
.preguntas .preguntas__title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
}
.preguntas .preguntas__container {
  cursor: pointer;
  display: flex;
  background-color: #303030;
  justify-content: space-between;
  padding: 20px 25px 20px 25px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.preguntas .preguntas__container .preguntas__pregunta .preguntas__question {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}
.preguntas .preguntas__container .preguntas__pregunta .preguntas__response {
  font-size: 20px;
  position: absolute;
  margin-bottom: 20px;
  z-index: -1;
  opacity: 0;
}
.preguntas .preguntas__container .preguntas__pregunta .activeP {
  position: relative;
  opacity: 0.7;
  transform: translateY(20px);
  transition: 0.8s;
  z-index: 1;
}
.preguntas .preguntas__container .preguntas__img {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.preguntas .preguntas__container .activeImg {
  transform: rotate(90deg);
  transition: 0.5s;
}
.preguntas .preguntas__titleInput {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.preguntas .form {
  margin-top: 30px;
  text-align: center;
}
.preguntas .form .form__input {
  width: 500px;
  height: 50px;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}
.preguntas .form .form__btn {
  background-color: red;
  height: 50px;
  border: none;
  width: 200px;
  cursor: pointer;
  font-size: 18px;
  margin-left: -5px;
  color: white;
}
.preguntas .form .form__btn .form__img {
  width: 15px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .preguntas {
    padding: 20px 15px 0 15px;
  }
  .preguntas .preguntas__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .preguntas .preguntas__container {
    padding: 10px;
  }
  .preguntas .preguntas__container .preguntas__pregunta {
    padding: 0;
  }
  .preguntas .preguntas__container .preguntas__pregunta .preguntas__question {
    font-size: 17px;
    margin-top: 5px;
  }
  .preguntas .preguntas__container .preguntas__pregunta .preguntas__response {
    font-size: 17px;
  }
  .preguntas .preguntas__container .preguntas__img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 590px) {
  .preguntas .form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .preguntas .form .form__input {
    width: 300px;
  }
  .preguntas .form .form__btn {
    font-size: 15px;
    height: 40px;
    width: 120px;
    padding: 5px;
    margin-bottom: 30px;
  }
  .preguntas .form .form__btn .form__img {
    width: 10px;
  }
  .preguntas .preguntas__titleInput {
    font-size: 16px;
  }
}
.footer {
  background-color: black;
  color: white;
  padding: 30px;
}
.footer .footer__information {
  max-width: 900px;
  margin: 0 auto;
  font-size: 13px;
  opacity: 0.5;
}
.footer .footer__information .footer__call {
  margin: 40px 0 20px 0;
}
.footer .footer__information .footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer__information .footer__container .footer__items {
  padding-top: 20px;
}
.footer .footer__information .footer__container .footer__items .footer__text {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin-top: 15px;
  margin-right: 20px;
}
.footer .footer__information .footer__container .footer__items .footer__text a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer__call {
    text-align: center;
  }
  .footer__container {
    max-width: 500px;
    text-align: center;
    flex-direction: column;
  }
  .footer__container .footer__items {
    margin-top: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

.header {
  background-image: linear-gradient(rgba(5, 5, 5, 0.816), transparent, rgba(0, 0, 0, 0.812)), url(https://conocedores.com/wp-content/uploads/2022/08/netflix-publicidad-suscripcion-28082022.webp);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 10px 50px 0 50px;
}
.header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__nav .header__logo {
  width: 130px;
}
.header .header__nav .header__inicio {
  display: flex;
}
.header .header__nav .header__inicio .header__btn {
  width: 130px;
  margin-left: 15px;
  cursor: pointer;
  background-color: red;
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}
.header .header__nav .header__inicio .header__btn a {
  color: white;
  text-decoration: none;
}
.header .header__nav .header__inicio .header__btn--world {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  border: 1px solid white;
  color: white;
}
.header .header__nav .header__inicio .header__btn--world .world {
  width: 20px;
  height: 20px;
}
.header .header__nav .header__inicio .header__btn--world .title {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2px;
}
.header .seccion {
  color: white;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 900px;
  text-align: center;
}
.header .seccion .seccion__title {
  font-size: 50px;
  max-width: 800px;
  margin: 0 auto;
}
.header .seccion .seccion__p {
  font-size: 26px;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
.header .seccion .seccion__p2 {
  font-size: 18px;
  font-weight: 500;
}
.header .form {
  margin-top: 30px;
}
.header .form .form__input {
  width: 500px;
  height: 50px;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}
.header .form .form__btn {
  background-color: red;
  height: 50px;
  border: none;
  width: 200px;
  cursor: pointer;
  font-size: 18px;
  margin-left: -5px;
  color: white;
}
.header .form .form__btn .form__img {
  width: 15px;
  margin-left: 10px;
}

@media (max-width: 590px) {
  .header {
    padding: 12px 15px 0 15px;
    height: 90vh;
  }
  .header .header__nav .header__logo {
    width: 95px;
  }
  .header .header__nav .header__inicio .header__btn {
    width: 90px;
    font-size: 13px;
    height: 30px;
  }
  .header .header__nav .header__inicio .header__btn--world .title {
    font-size: 13px;
  }
  .header .seccion .seccion__title {
    font-size: 30px;
  }
  .header .seccion .seccion__p {
    font-size: 17px;
  }
  .header .seccion .seccion__p2 {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .header .seccion .form {
    max-width: 300px;
    margin: 0 auto;
  }
  .header .seccion .form .form__input {
    width: 300px;
  }
  .header .seccion .form .form__btn {
    font-size: 15px;
    height: 40px;
    width: 120px;
    padding: 5px;
  }
  .header .seccion .form .form__btn .form__img {
    width: 10px;
  }
}
@media (max-width: 800px) {
  .form .form__input {
    margin-bottom: 5px;
  }
}
.particion {
  background-color: #222222;
  width: 100%;
  height: 8px;
}/*# sourceMappingURL=style.css.map */